
:local(#logoCont) {
  float: left;
}

:local(#logoPic) {
  float: left;
  height: 60px;
  width: 60px;
  border-radius: 8px;
  margin: 16px 10px 5px 5px;
}

:local(#logoText) {
  float: left;
  font-family: Noto Arial, Helvetica, sans-serif;
  font-size: 23px;
  margin-top: 33px; 
  font-weight: bold;
  color: white; 
}