
:local(.locationCont) {
  position: absolute;
  top: 300px;
  width: 600px;
  height: 150px;
  font-family: Noto Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: white;
}

/* :local(.hierarchy) {
  display: inline;
} */

:local(.hierarchy ul) {
  padding: 0px;
}

:local(.hostelName) {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 10px;
}

:local(.address) {
  display: inline;
}

:local(.hierarchy ul li) {
  display: inline;
}

:local(.navigationIcon) {
  height: 15px;
  width: 15px;
  margin-right: 2px;
}
